<%layout('layouts/boilerplate')%>
<div class='container  justify-content-center align-items-center mt-5'>
    <div class='row'>
        <div class='col-md-5 offset-md-3'>
<div class='card shadow'>
    <div class='card-body'>
    <h3 class='card-title'>Sign In</h3>

     <form  class="validate" action="/login" method='post' novalidate>
    <div class='mb-3'>
        <label class='form-label' for='username'>Username</label>
        <input class ='form-control' type="text" id='username' name='username' required autofocus>
    </div>
   
    <div class='mb-3'>
        <label class='form-label' for='password'>Password</label>
        <input class ='form-control' type="password" id='password' name='password' required>
    </div>

    <button class='btn btn-success '>Submit</button>

    </form>
    <h6 class='text-end my-3'>Don't have an account? head to the signUp page on top.</h6>
</div></div>


  
</div>
</div>
</div>